body {
      background-color: rgb(35, 42, 97);
    }

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);

  /* Perfect square that fits screen */
  width: min(90vw, 90vh);
  height: min(90vw, 90vh);

  border: 2px solid black;

  /* Align to the left */
  margin-left: 0;
}


.cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(171, 171, 171);
  font-size: 1.4rem;
} 

.controlls{
  padding: 2%;
  margin-top: 0;
}

.ruleslink{
  color: red;
}

.cns{
  margin-top: 0;
  margin-left: 80%;
}

